<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home: production-company-name
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
        Production Comapny Details
    </ion-row>
    <ion-row>
        Your Total Bill Value :
    </ion-row>
    <ion-row>
        Your Upcoming appointment:
    </ion-row>
    <ion-row>
        SetMD
    </ion-row>
  </ion-grid>
  
</ion-content>