<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bill View : prod-name
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngFor="let billItem of billItems ">
    <ion-row>
      <ion-col>
        {{billItem.itemName}}
      </ion-col>
      <ion-col>
          {{billItem.itemPrice}}
      </ion-col>
      <ion-col>
          {{billItem.extraField}}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>