<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Add a production Company
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Doctor home page

  <ion-list>
    <ion-item>
      <ion-label>Email : {{doctorDetails.Email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Name : {{doctorDetails.Name}}</ion-label>
    </ion-item>
    </ion-list>

  <p>View upcoming appointments </p>
  <p></p>

</ion-content>
