<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Add a production Company
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form (ngSubmit)="onSubmit()" #productionForm="ngForm">
  <div class="form-group">
    <label >Name</label>
    <input type="text" name="name" #nameField="ngModel" [(ngModel)]="name" required>
    <div [hidden]="nameField.valid || nameField.pristine"
    class="alert alert-danger">
 Name is required
</div>
    <button class="btn btn-primary " type="submit" name="submit" [disabled]="!productionForm.form.valid" #submit></button>
  </div>
</form>

</ion-content>